.header {
  background: rgb(0, 0, 0);
  display: flex;
  width: 100%;
  height: 15vh;
  color: rgb(255, 255, 255);
  font-size: 130%;
  flex-direction: row;
  justify-content: flex-start;
}
.header-name {
  font-size: 190%;
  margin-left: 5%;
}
#logo {
  height: 100%;
  width: auto;
}
#nomLogo {
  height: 40%;
  width: auto;
}
.header-leftheader {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
}
.header-rightheader {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.header-botonheader {
  font-size: 70%;
  border: 0;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  height: 100%;
  width: 20%;
}
.header-botonheader:hover {
  background: rgb(35, 35, 35);
  border-bottom: 2px solid rgb(170, 170, 170);
}
